:root {
  /* Colors */
  --primary: #e95d0f;
  --text-color: black;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--text-color);
}

.sudaka-container {
  height: 100%;
  width: 100%;
  background: url('/images/background-besos.jpg');
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  bottom: 0;
  top: 0;
  position: absolute;
}
.sudaka-inner-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.sudaka-content,
.sudaka-content form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="radio"] {
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}

.besos-logo {
  padding-top: 30px;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.sudaka-inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.sudaka-inputs div {
  padding: 0 10px;
}
.sudaka-email-input {
  width: 100%;
  margin: 15px 0;
  background-color: rgba(255, 255, 255, 0.188235);
  box-shadow: rgba(1, 1, 1, 0.188235) 1.62px 2.79px 1px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  color: var(--text-color);
  padding-left: 15px;
  font-size: 15px;
  border-width: 2px;
  border-color: var(--primary);
  border-style: solid;
  border-radius: 4px;
  outline: none;
}
.sudaka-button {
  background-color: var(--primary);
  margin-top: 15px;
  box-shadow: rgba(1, 1, 1, 0.188235) 1.62px 2.79px 1px 0px;
  width: 138px;
  height: 38px;
  color: rgb(255, 255, 255);
  font-size: 19px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  border-color: initial;
  outline: none;
}

/*Machine style*/
.slot1 {
  background-image: url('/images/icono-juego-1.png');
}
.slot2 {
  background-image: url('/images/icono-juego-2.png');
}
.slot3 {
  background-image: url('/images/icono-juego-3.png');
}
.slot4 {
  background-image: url('/images/icono-juego-4.png');
}
.slot5 {
  background-image: url('/images/icono-juego-5.png');
}
.slot6 {
  background-image: url('/images/icono-juego-6.png');
}

.machineResult {
  display: none;
}

.btn-group-casino{
  padding-bottom: 20px;
  margin-top: 10px;
}

.slotMachine {
  width: 32.333333%;
  border: 2px solid var(--primary);
  height: 100px;
  padding: 0px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}

#casino .content > div {
  clear: both;
  width: 300px;
  margin: 0 auto;
}

#casino .content:nth-child(1) {
  text-align: center;
  height: 580px;
}

.slotMachine .slot {
  height: 100px;
  background-position-x: 55%;
  background-repeat: no-repeat;
  background-size: contain;
}
