<div class="sudaka-content" ng-show="!showSudakaMachine">
  <img class="besos-logo" src="/images/image-app.png" alt="besos latinos - sudaka" />
  <form name="sudakaForm" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required">
    <label for="email">
      Enter your email and click play below to win FREE ticket entry or a FREE dinner at Besos Latinos!
    </label>
    <input
      class="sudaka-email-input input-email ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
      type="email"
      name="email"
      ng-model="sudaka.email"
      required>
      <div class="sudaka-inputs input-form-group radio-button-group">
        <div class="input-radio">
          <input type="radio" name="status" ng-model="sudaka.status" value="Resident" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
          Resident
        </div>
        <div class="input-radio">
          <input type="radio" name="status" ng-model="sudaka.status" value="Traveller" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
          Traveller
        </div>
        <div class="input-radio">
          <input type="radio" name="status" ng-model="sudaka.status" value="Student" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
          Student
        </div>
      </div>
      <button type="submit" class="form-submit sudaka-button" ng-click="addSudaka()">PLAY</button>
  </form>
</div>
<div ng-show="showSudakaMachine">
  <img class="besos-logo" src="/images/image-app.png" alt="besos latinos - sudaka" />
  <div id="casino" style="padding-top:50px;">
    <div class="content">
      <div>
        <div id="casino1" class="slotMachine" style="margin-left: -1px;">
          <div class="slot slot1"></div>
          <div class="slot slot2"></div>
          <div class="slot slot3"></div>
          <div class="slot slot4"></div>
          <div class="slot slot5"></div>
          <div class="slot slot6"></div>
        </div>

        <div id="casino2" class="slotMachine">
          <div class="slot slot1"></div>
          <div class="slot slot2"></div>
          <div class="slot slot3"></div>
          <div class="slot slot4"></div>
          <div class="slot slot5"></div>
          <div class="slot slot6"></div>
        </div>

        <div id="casino3" class="slotMachine">
          <div class="slot slot1"></div>
          <div class="slot slot2"></div>
          <div class="slot slot3"></div>
          <div class="slot slot4"></div>
          <div class="slot slot5"></div>
          <div class="slot slot6"></div>
        </div>

        <div class="btn-group btn-group-justified btn-group-casino" role="group">
          <div id="slotMachineButtonShuffle" type="button" class="btn slotMachineButton sudaka-button">GO!</div>
        </div>
        <span class="result" ng-bind="result"></span>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
